<template>
    <div class="d-flex h-100"> 
        <AsideGlobal @asideChanged="onAsideChanged" /> 
        <main class="global-main" id="global-main"> 
            <BreadcrumbData /> 
            <section class="main-section">
                <div class="row g-3 align-items-center mb-5"> 
                    عرض المنتج
                </div> 
            </section> 
        </main> 
    </div>
</template>
 
<script>  
// @ is an alias to /src 
import AsideGlobal from '@/components/AsideGlobal.vue'
import BreadcrumbData from '@/components/BreadcrumbData.vue'


import { ref , onMounted , computed } from "vue";   
import { useStore } from 'vuex' 
import { object } from 'yup';
 
export default {
    name: 'HomeView',
    components: {
        AsideGlobal , 
        BreadcrumbData, 
    },

    setup() {
        const store = useStore();
        const search = ref("")
        const itemForEdit = ref(object)
        const activeModal = ref(false)  

        const users = computed(() => {
            if (search.value.length) {
                return store.getters["getProducts"].filter(product => {
                    return product.name.toLowerCase().match(search.value.toLowerCase())
                })
            } else {
                return store.getters["getProducts"]
            } 
        }) 
       
        const currentPage = ref(1) 
        const skipPage = ref(4)
        const range = ref(3)
        const startFrom = ref(0)
        const endTo = ref(3)
        const totalPages = ref(Math.ceil((store.getters["getProducts"].length ) / 3 ) )

        onMounted(() => {
            store.dispatch("getUsers"); 
        })  
      
        function removeItem(item){ 
            store.dispatch("RemoveUserAction",item)  
            this.totalPages = Math.ceil((store.state.users.length ) / 3 )
        }

        function editItem(item){ 
            itemForEdit.value = item
        }

        function onModalToggle(){
            activeModal.value = true 
        }

      
        return { users , currentPage , search ,  startFrom , endTo , totalPages  , skipPage , range  
            ,onModalToggle
            ,activeModal
            ,editItem
            ,itemForEdit
            ,removeItem
        };
    } , 
    
    methods: {
        onPageChange(page) { 
            if(page == 1){
                this.startFrom = 0
                this.endTo = 3
            }else{
                this.startFrom = (( page * this.range ) ) - this.range
                this.endTo = ( page * this.range ) 
            } 
            this.currentPage = page
            this.skipPage = page * this.skipPage ;
        },  
        onAsideChanged(status){
            let element = document.getElementById("global-main");
            if(status == "close"){
                element.classList.add("responsive_main");
            }else{
                element.classList.remove("responsive_main");
            }
        } ,   
        changeAge(val) {
            if(val){ 
                this.startFrom = 0
                this.endTo = 3 
                this.totalPages = Math.ceil((this.users.length-1) / 3 )  
            }else{
                this.totalPages = Math.ceil((this.users.length-1) / 3 )  
            } 
        },

        
    } ,
}
</script>
