/* @font-face {
    font-family:'TitilliumWeb-Regular';
    src: url('../fonts/regular/TitilliumWeb-Regular.eot');
    src: url('../fonts/regular/TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/regular/TitilliumWeb-Regular.woff2') format('woff2'),
        url('../fonts/regular/TitilliumWeb-Regular.woff') format('woff'),
        url('../fonts/regular/TitilliumWeb-Regular.ttf') format('truetype'),
        url('../fonts/regular/TitilliumWeb-Regular.svg#TitilliumWeb-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'TitilliumWeb-Bold';
    src: url('../fonts/bold/TitilliumWeb-Bold.eot');
    src: url('../fonts/bold/TitilliumWeb-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bold/TitilliumWeb-Bold.woff2') format('woff2'),
        url('../fonts/bold/TitilliumWeb-Bold.woff') format('woff'),
        url('../fonts/bold/TitilliumWeb-Bold.ttf') format('truetype'),
        url('../fonts/bold/TitilliumWeb-Bold.svg#TitilliumWeb-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
} */

::-moz-placeholder {
  font-size: 28px;
} /* Firefox 19+ */
:-moz-placeholder {
  font-size: 28px;
}  /* Firefox 18- */
:-ms-input-placeholder {
  font-size: 28px;
} /* IE */

body{
	background: #F3F6F8;
    direction: rtl;
    overflow-x: hidden;
    /* font-family: 'TitilliumWeb-Regular'; */
}
.global-aside{
	width: 20%;
	background: #1C1C1C;
	height: 100%;
  transition: 0.3s;
}
.responsive_aside{
  width: 70px;
  transition: 0.3s;
} 
.global-main.responsive_main{
  width: calc(100% - 70px);
}
.responsive_aside .main__nav_title ,.responsive_aside .custom-dropdown__link span ,
.responsive_aside .item-saidebar.dropdown-toggle::after , .responsive_aside .logo img{
    display:none;
} 
.responsive_aside .relative-dropdown-menu{
  display: block;
    background: transparent;
    position: relative;
    width: 5px;
    top: -7px;
    margin-bottom: 3px;
    border: none;
}

.responsive_aside .custom-dropdown__item1{
  width: 30px;
  position: relative;
}

.responsive_aside  .custom-dropdown__link:before{
  top: 8px;
}
.global-main{
	width: 100%;
	height: 100%;
}
.logo{
  padding: 20px 30px 20px 20px;
}
.main-section{
	padding: 30px;
	background: #fff;
	margin: 45px;
	border-radius: 40px;
}
.nav-breadcrumb{
	background: #fff;
	padding: 15px;
	margin-bottom: 0;
}
.breadcrumb{
	margin-bottom: 0;
}
tbody tr td{
	border-bottom: 2px solid #EFF2F5;
	padding-top: 24px !important;
	vertical-align: bottom;
}

.main__nav{
	list-style: none;
}
.main__nav li {
  position: relative;
}
.main__nav li a{  
  color: #B5B5B5;
  text-decoration: none;
  display: block;
  font-weight: bold;
  padding-right: 20px;
  cursor: pointer;
  padding-top: 7px;
  text-align: right;
  padding-bottom: 8px;
}

.rotate{
  display: inline-block;
  transform: rotate(180deg);
  transition: 0.4s;
}

.aside-icon{
  background-color: transparent;
  font-size: 24px;
  border: none;
  transition: 0.4s;
  float: left;
  position: relative;
  top: -6px;
  padding: 0;
}
.custom-dropdown__link{
  padding: 8px 50px 8px 10px !important;

}
.custom-dropdown__link:hover{
  background-color: #281B28;

}
.aside-icon svg{
  font-size: 16px;
  top: 1px;
}
.aside-icon svg:first-child{
  color:#A1A5B7;
  left: -2px;
  position: relative;
  top: 0;
}
.aside-icon svg:last-child{
  color:#625E6D;
}

.main__nav li a > svg {
  color: #681F67;
  font-size: 18px;
  margin-left: 3px;
  width: 30px;
  margin-top: 2px;
}
.logo{
  background: #281B28;
  margin-bottom: 20px;
  height: 65px;
}
.table>:not(:last-child)>:last-child>*{
	border-bottom: 0.5px solid #EFF2F5;
}
.avater-info{
	position: relative;
}
.avater-info img {
	position: absolute;
    right: 10px;
}
.avater-info h3{
	margin-right: 85px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 6px;
}

.avater-info h5{
	margin-right: 85px;
    font-size: 14px;
}
.admin-menu li{
	border-bottom: 1px solid #F3F5F8;
    text-align: right;
}
.admin-menu li:last-child{
	border-bottom: none;
}
.admin-menu li a {
  padding: 13px 10px;
  font-size: 14px;
}

.avater-info{
	padding: 15px 0;
}
.admin-menu{
	min-width: 350px;
	border: none; 
	box-shadow: 0 .2px .2px 0 #eee;
  padding-bottom: 0;
  top: 14px !important;
}
.dropdown-dmin{
  float: left;
}

.admin-menu-toggle{
	margin-left: 35px;
}
.admin-menu-toggle > img{
	width: 40px;
}
.admin-menu-toggle::after{
	display: none;
}
.top-nav{
	background: #fff;
	border-bottom: 1px solid #F1F4F6;
}
.main-color{
	color: #D11388;
}
#search{
  background: #F4F6F8;
  border: none;
  min-height: 43px;
  min-width: 270px;
  padding-right: 40px;
  width: auto;
  
}



.breadcrumb-item+.breadcrumb-item::before{
	content: "|";
}
.breadcrumb-item > a{
	color: #515457;
	text-decoration: none;
	font-weight: bold;
}
.breadcrumb-item{
	color: #899096;
}

/*

*/




.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.custom-control-input .custom-control-input:checked ~ .custom-control-label::before {
  background-color:red;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}  
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}  
 
label {
    margin-right: 15px;
}
.breadcrumb-item+.breadcrumb-item::before{
    float: right;
}
.form-check .form-check-input{
    float: right;
    margin-left: -1.5em;
}
.main__nav li a > i{
  color: #681F67;
}
.item-saidebar.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
  top: 9px;
  position: absolute;
  left: 10px;
   color: #681F67;
}
.search-icon{
  position: absolute;
  top: 10px;
  color: #7C869D;
  right: 20px;
  font-size: 18px;
}
.search-content{
  position: relative;
  font-size: 20px;
}

.btn-primary{
  color: #fff;
  background: #C41988;
  border-color: #C41988;
}
.btn-primary:hover{
  background: #C41988;
  border-color: #C41988;
  opacity: 0.8;
  transition: 0.4s;
}

.text-left{
  text-align: left;
}

.custom-dropdown-menu{
  background-color: white;
  position: absolute;
  transform: translateY(40px);
  opacity: 0; 
  z-index: -1;
}
.custom-dropdown-menu.active{
  transform: translateY(20px);
  opacity: 1;
  z-index: 100;
}
.custom-dropdown__item{
  cursor: pointer;
  display: flex;
} 
.custom-dropdown__item:hover .custom-dropdown__link{
  color:white;
}
.custom-dropdown__link{
  width: 100%;
  height: 100%; 
  color: black;
  display: flex;
  align-items: center;
  padding-inline-start: 20px;
  padding-inline-start: 20px;
  background-color: transparent;
  border: 0;
  margin-bottom: 0 !important;

  
}

.custom-dropdown__link:before{
  width: 5px;
  height: 5px;
  content: "";
  position: absolute;
  background: #ACACAC;
  right: 32px;
  border-radius: 50%;
  top: 20px;
}
.dropdownMenuButton1{
  display: block;
}
ul.dropdown-menu.relative-dropdown-menu.show {
  position: inherit !important;
  /* right: 0; */
  width: 100%;
  top: -50px !important;
  background: transparent;
  box-shadow: none;
  border: none;
  margin-bottom: -23px !important;
}
.modal-content{
  width: 550px;
  margin: 80px auto; 
}
.close{
  border: none;
  background-color: transparent;
  font-size: 24px;
}
.cancel{
  margin-right: 8px;
}
.modal-body label{
  margin-right: 0;
}


.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: green!important;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25)
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #C8FFC8; 
}
.custom-control-input{
  position: relative;
}
.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e);
}
.custom-control-label::after {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: 50%/50% 50% no-repeat;
}
.custom-checkbox .custom-control-label::before {
  border-radius: 0.25rem;
}
.custom-control-label::before {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: 1px solid #adb5bd;
}
.custom-control-label::before, .custom-file-label, .custom-select {
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-check-input:checked {
  background-color: #C41988;
  border-color: #C41988;
}

.text-right{
  text-align: right;
}

.form-check-input{
  background: #eee;
  border: none;
  width: 19px;
  height: 19px;
}

.global-aside .exact-active-link{
  background: #281B28;
}

.card-item{
  min-height: 80px;
  text-align: center;
  background:#932889;
  color: #fff;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.card-item h3{
  font-size:18px;
}
.card-item span{
  font-size: 20px;
}