<template>
   <div class="text-center">
      <div class="row align-items-center text-canter" style="min-height: 100vh">
        <div class="col-md-12">
          الصفحه غير موجوده 
         <router-link to="/"> 
               اذهب للصفحه الرئيسيه
         </router-link>
        </div>
      </div>
   </div>
</template> 
<script>

export default {
  name: 'PageNotFoundView',
 
}
</script>
