<template>
  <aside class="global-aside vh-100" id="global-aside">
         <div class="logo">
            <img src="@/assets/img/logo.png" />
            <button class="aside-icon align-middle" id="aside-icon" @click="asideControll()"> 
               <font-awesome-icon icon="angle-right" />  
               <font-awesome-icon icon="angle-right" />  
            </button>
         </div>
         <nav> 
            <ul class="main__nav list-unstyled">
               <li>
                  <router-link to="/">
                     <font-awesome-icon icon="bar-chart" />  
                     <span class="main__nav_title">
                     لوحه التحكم
                     </span>
                  </router-link>
               </li>
               <li class="dropdown"> 
                  <a class="dropdown-toggle item-saidebar"  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                     <font-awesome-icon icon="user" />  
                     <span class="main__nav_title">
                        حسابات النظام   
                     </span>
                  </a>
                  <ul class="dropdown-menu relative-dropdown-menu" aria-labelledby="dropdownMenuButton1">
                     
                     <li class="custom-dropdown__item1">
                        <a href="#"  class="custom-dropdown__link"> <span>  المستخدميين </span></a>
                     </li>
                     <li class="custom-dropdown__item1">
                        <a href="#"  class="custom-dropdown__link"><span>  الصلاحيات </span></a>
                     </li>
                  </ul>
               </li>

               <li>
                  <router-link to="/users">
                     <font-awesome-icon icon="users" />
                     <span class="main__nav_title">
                     الموظفيين 
                     </span>
                  </router-link>
               </li>
               <li>
                  <router-link to="/products">
                      <font-awesome-icon :icon="['fab', 'product-hunt']" />
                     <font-awesome-icon icon="productHunt" />  
                     <span class="main__nav_title">
                     المنتجات   
                     </span>
                  </router-link>
               </li>
            </ul>
         </nav>
      </aside>
</template>

<script>
export default {
    name:"AsideGlobal", 

    methods:{
      asideControll(){
         let element = document.getElementById("global-aside"); 
         let asideIcon = document.getElementById("aside-icon"); 

         if( !element.classList.contains('responsive_aside') ){
            element.classList.add("responsive_aside");
            asideIcon.classList.add("rotate")
            this.$emit('asideChanged',"close");
         }else{
            element.classList.remove("responsive_aside");
            asideIcon.classList.remove("rotate")
            this.$emit('asideChanged', "open");
         }
         
      }
    }
};
</script>