<template>
  <nav aria-label="breadcrumb row" class="nav-breadcrumb">
      <div class="row">
         <div class="col-md-6"> 
            <ol class="breadcrumb">
               <!-- <li class="breadcrumb-item">
                  الصفحه الرئيسيه   -  قائمه المستخدمين  
               </li> -->
               <li class="breadcrumb-item" v-for="(breadcrumb , index) in breadcrumbsItems" :key="index">
                  <template  v-if="index != breadcrumbsItems.length-1">
                     <router-link :to="breadcrumb.path"  >  
                        {{breadcrumb.name}} 
                     </router-link>
                  </template>
                  <template  v-else>
                     {{breadcrumb.name}} 
                  </template>
                  
               </li>
               
            </ol> 
         </div> 
         <div class="col-md-6">
            <div class="dropdown dropdown-dmin">
                  <a href="#" class="dropdown-toggle admin-menu-toggle" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                     <img src="@/assets/img/user.png" />
                  </a>
                  <ul class="dropdown-menu admin-menu" aria-labelledby="dropdownMenuButton2">
                     <li class="avater-info">
                     <img src="@/assets/img/user.png" />
                     <h3 class="main-color"> Fatma Samir </h3>
                     <h5> fatmasamir231@gmail.com </h5>
                     </li>
                     <li><a class="dropdown-item" href="#"> الملف الشخصي  </a></li>
                     <li><a class="dropdown-item" href="#"> تسجيل الخروج  </a></li>
                  </ul>
            </div>
         </div>
      </div>
</nav>
</template>

<script>
import { useRoute } from 'vue-router'
import { computed } from 'vue'
import { useStore } from 'vuex' 

export default { 
   name:"BreadcrumbData",
   props: {
      title: {
         type: String,
         required: true,
      },    
      subTitle: {
         type: String,
         required: true,
      },
   },
   
   setup() {
      const route = useRoute() 
      const store = useStore();
      
      const breadcrumbsItems = computed(() => {
         return store.getters["getBreadcrumb"]
      })  
      let isPathInBreadcrumbArr = false
      breadcrumbsItems.value.forEach(function(breadcrumb) {
         if( breadcrumb.path == route.path ) {
            isPathInBreadcrumbArr = true
         }
      });
      console.log(" isParent >>" , route.meta.isParent )

      if( route.meta.isParent ){
         let item =  { path:route.path , name:route.meta.text } 
         store.dispatch("ressetBreadcrumbAction",item)
      }else if( !isPathInBreadcrumbArr ){
         let item = {
            path:route.path ,
            name:route.meta.text
         }
         store.dispatch("AddItemToBreadcrumbAction",item)
      }else{
         // getBreadcrumbByBath
         let r = breadcrumbsItems.value.findIndex(x => x.path == route.path)
         let newBreadcrumbs1 = []  
         if( r ){
            for (let i = 0; i < r; i++) {
               newBreadcrumbs1.push( breadcrumbsItems.value[i] );
            }
         } 
         store.dispatch("updateBreadcrumbAction", newBreadcrumbs1 )  
      } 
      return { breadcrumbsItems , isPathInBreadcrumbArr}
   }

   
};
</script>