<template>
   <ul class="pagination justify-content-end">
      <li class="pagination-item">
         <a :disabled="isInFirstPage" type="button" @click="onClickFirstPage" class="page-link">
            <font-awesome-icon icon="angle-double-right" />
         </a>
      </li>

       <li class="pagination-item">
         <a :disabled="isInFirstPage" class="page-link"  @click="onClickPreviousPage">
            <font-awesome-icon icon="angle-right" />
         </a>
      </li> 
      <li v-for="(page , index) in pages" class="pagination-item" :key="index">
         <a  @click="pagechanged(page)" class="page-link" :class="{ active: isPageActive(page)  }"> 
         {{page}}
         </a>
      </li>
      <li class="pagination-item">
         <a :disabled="isInLastPage" @click="onClickNextPage" class="page-link">
            <font-awesome-icon icon="angle-left" /> 
         </a>
      </li>
      <li class="pagination-item">
         <a :disabled="isInLastPage" @click="onClickLastPage" class="page-link">
            <font-awesome-icon icon="angle-double-left" />
         </a>
      </li>
  </ul>
</template>
<style>

   .pagination{
      font-family: sans-serif;
      margin-top:40px ;
   }
   a.page-link{
      border:none;
      color: #5A5D60;
   }
   a.page-link.active{
      background: #C41988;
      color: #fff;
      border-radius: 6px;
   }

   .fa-angle-right, .fa-angles-right, .fa-angle-left, .fa-angles-left{
      font-size: 10px;
   }
</style>
<script>
import { computed } from "vue";
export default {
   name:"ItemsPagination",
   props: {  
      totalPages: {
         type: Number,
         required: true
      } ,
      pages:{
         type: Number,
         required: true
      } ,
      currentPage:{
         type: Number,
         required: true
      } 
   }, 
   setup(){
      const paginatedItems = computed(() =>
         this.pages
      ); 
      return {paginatedItems}
   },

   computed:{
      isInFirstPage() {
         return this.currentPage === 1;
      },
      isInLastPage() {
         console.log(this.currentPage+" *** "+this.totalPages)
         return this.currentPage === this.totalPages;
      },
   } ,
   
   methods:{
      pagechanged(page){
         this.$emit("pagechanged", page);
      },

      onClickFirstPage() {
         this.$emit('pagechanged', 1);
      },

      onClickPreviousPage() {
         this.$emit('pagechanged', this.currentPage - 1);
      },

      onClickLastPage() {
         this.$emit('pagechanged', this.totalPages);
      } , 

      onClickNextPage() {
         this.$emit('pagechanged', this.currentPage + 1);
      },

      isPageActive(page) {
         return this.currentPage === page;
      }
   }
};
</script>