<template>
    <div class="d-flex h-100"> 
        <AsideGlobal @asideChanged="onAsideChanged" /> 
        <main class="global-main" id="global-main"> 
            <BreadcrumbData /> 
            <section class="main-section">
                <div class="row g-3 align-items-center mb-5"> 
                    <div class="col-md-4">
                        <div class="card card-item">
                           <h3> عدد المنتجات  </h3>
                            <span> {{countProducts}} </span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-item">
                            <h3> عدد الموظفيين </h3>

                            <span> {{countEmployees}} </span>
                        </div>
                    </div>



                    <div class="col-md-4">
                        <div class="card card-item">
                           <h3> عدد المستخدميين </h3>

                            <span> {{countUsers}} </span>
                        </div>
                    </div>
                </div>
            </section> 
        </main> 
    </div>
</template>
 
<script>  
// @ is an alias to /src 
import AsideGlobal from '@/components/AsideGlobal.vue'
import BreadcrumbData from '@/components/BreadcrumbData.vue' 


import { ref } from "vue";   
 
export default {
    name: 'HomeView',
    components: {
        AsideGlobal , 
        BreadcrumbData, 
    },

    setup() {
        const countEmployees = ref(12)
        const countProducts = ref(16)
        const countUsers = ref(8)
        return { countEmployees , countProducts , countUsers};
    } , 
    
}
</script>
