<template>
    <div class="container p-5"> 
        <div ref="modal" class="modal fade" :class="{ show: active, 'd-block': active }"
            tabindex="-1"
            role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="exampleModalLabel" >
                        {{titleModal}}
                    </h5>
                    <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                        @click="modalToggle">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <Form @submit="onSubmit" :validation-schema="schema">
                        <div class="mb-3">
                            <label for="name" class="form-label main-color mr-0">الاسم</label> 
                            <!-- <input class="form-control" id="uname1" name="uname1" type="text"> -->
                            <Field name="name" class="form-control" v-model="name" id="name" />
                            <Field  class="form-control" name="id" v-model="id" type="hidden" />
                            <ErrorMessage name="name" />
                        </div>
                        
                        <div class="mb-3">
                            <label for="email" class="form-label main-color mr-0"> الميل </label> 
                            <Field id="email" class="form-control text-right" v-model="email" name="email" type="email" />
                            <ErrorMessage name="email" /> 
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label main-color mr-0"> الباسورد </label>
                            <Field id="password" class="form-control" name="password" type="password" />
                            <ErrorMessage name="password" />
                        </div> 
                        <div class="mb-3">
                            <label for="repassword" class="form-label main-color"> تأكيد الباسورد </label>
                            <Field id="confirmPassword" class="form-control" name="confirmPassword" type="password" />
                            <ErrorMessage name="confirmPassword" />
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">تسجيل</button>
                            <button type="button" class="btn btn-secondary mr-2 cancel"
                            @click="modalToggle" >
                            إلغاء
                            </button> 
                        </div>
                    </Form> 
                </div> 
            </div>
        </div>
        <div v-if="active" class=" modal-backdrop fade show"></div> 
    </div> 
</template>

<script>
import { Field, Form, ErrorMessage } from "vee-validate";
import * as Yup from "yup";
import { ref } from "vue"; 
import {useStore} from 'vuex' 
export default {
    name: 'FormsCom',
    components: {
        Field ,
        Form,
        ErrorMessage,
    },
    props: {  
        activeModal: {
            type: Boolean,
            required: true ,
            default: false ,
        } ,
        itemForEdit:{
            type: Object,
            required: false ,
            default: null ,  
        }
    } ,
    watch: {
        activeModal: function (newValue, oldValue) {
            this.modalToggle()
            console.log("newValue: %s, previousValue: %s", newValue, oldValue);
        }, 
        itemForEdit:function(newValue){
            console.log(" itemForEdit "+ newValue.id);
            this.titleModal  = "تعديل مستخدم"
            this.email = newValue.email
            this.id = newValue.id
            this.name = newValue.name
            this.modalToggle()
        }
    },

    setup() {
        const active = ref(false)  
        const name = ref("")  
        const id = ref("")  
        const titleModal = ref("أضف مستخدم")  
        const email = ref("")  
        const jop = ref("")  
        const store = useStore();
        const schema = Yup.object().shape({
            name: Yup.string().required() ,
            id: Yup.string(),
            email: Yup.string().email().required().label("Email Address"),
            password: Yup.string().min(5).required().label("Your Password"),
            confirmPassword: Yup.string()
                    .oneOf([Yup.ref('password'), null], 'Passwords must match')
                    .required('Confirm Password is required'),
        }); 

        const modalToggle = () => {   
            const body = document.querySelector("body")  
            active.value = !active.value 
            active.value ? body.classList.add("modal-open") : body.classList.remove("modal-open") 
        } 
        
        function addItem(user){
            console.log("user >>",user)
            modalToggle()
        }

        function editItem(item){ 
            console.log("  >> item >>",item)
            modalToggle()
        }

        

        function onSubmit(values) {    
            let user = {
                    name:values.name ,
                    email:values.email ,
                    jop:"",
                    created_at:"1112/555"
                }   
                console.log("user onSubmit" ,user) 
                
            if( !values.id ){ // to create new item
                store.dispatch("AddUserAction",values) 
                modalToggle()
                
            } else { // to update 
                // UpdateUserAction
                console.log("UpdateUserAction")
                store.dispatch("UpdateUserAction",values) 
                modalToggle()
            } 
            //******totalPages.value = Math.ceil( (store.state.users.length -1) / 3 )
        }
      
        return {
            onSubmit  ,
            schema  ,
            active ,
            name ,
            id ,
            email ,
            jop ,
            modalToggle ,
            titleModal ,
            editItem ,
            addItem 
        };
   } , 

   methods:{
   }
}
</script>