<template>
    <div class="d-flex h-100"> 
        <AsideGlobal @asideChanged="onAsideChanged" /> 
        <main class="global-main" id="global-main"> 
            <BreadcrumbData /> 
            <section class="main-section">
                <div class="row g-3 align-items-center mb-5"> 
                    <div class="search-content col-6">
                        <span class="search-icon">
                            <font-awesome-icon icon="search" />
                        </span>
                        <input type="text" class="form-control" v-model="search" id="search" @keyup="changeAge" placeholder="بحث عن مستخدم " >
                    </div>
                    <div class="search-content col-6 text-left"> 
                        <button type="button" class="btn btn-primary" @click="onModalToggle">إضافه مستخدم</button>
                    </div>
                </div>
                <table class="table">
                <thead>
                    <tr>
                    <th scope="col"> اسم المستخدم  </th>
                    <th scope="col"> الميل   </th>
                    <th scope="col"> الوظيفه  </th>
                    <th scope="col"> تاريخ الانشاء  </th>
                    <th scope="col" class="text-left"> الأنشطه     </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user in users.slice(startFrom, endTo)" :key="user.id">
                        <td>
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" :id="user.id+'flexCheckDefault'">
                            <label class="form-check-label" :for="user.id+'flexCheckDefault'">
                                {{user.name}}
                            </label>
                            </div>
                        </td>
                        <td> {{user.email}} </td>
                        <td> {{user.jop}} </td>
                        <td> {{user.created_at}} </td>
                        <td class="text-left">
                            <div class="dropdown">
                            <a class="btn btn-light dropdown-toggle" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                الادوات
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                <li><a class="dropdown-item" href="#" @click="editItem(user)"> تعديل  </a></li>
                                <li><a class="dropdown-item" href="#" @click="removeItem(user)">  مسح </a></li>
                                <li><router-link class="dropdown-item" to="/user/show">  عرض </router-link></li>
                            </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
                </table> 
                <ItemsPagination 
                    :totalPages="totalPages" 
                    :perPage="10"
                    :pages="totalPages"
                    :currentPage="currentPage"
                    @pagechanged="onPageChange" />

                <FormsCom :activeModal="activeModal" :itemForEdit="itemForEdit" />
            </section> 
        </main> 
    </div>
</template>
 
<script>  
// @ is an alias to /src 
import ItemsPagination from '@/components/ItemsPagination.vue'
import AsideGlobal from '@/components/AsideGlobal.vue'
import BreadcrumbData from '@/components/BreadcrumbData.vue'
import FormsCom from '@/views/users/FormsCom.vue' 


import { ref , onMounted , computed } from "vue";   
import {useStore} from 'vuex' 
import { object } from 'yup';
 
export default {
    name: 'HomeView',
    components: {
        ItemsPagination , 
        AsideGlobal , 
        BreadcrumbData, 
        FormsCom
    },

    setup() {
        const store = useStore();
        const search = ref("")
        const itemForEdit = ref(object)
        const activeModal = ref(false)  

        const users = computed(() => {
            if (search.value.length) {
                return store.getters["getUsers"].filter(user => {
                    return user.name.toLowerCase().match(search.value.toLowerCase())
                })
            } else {
                return store.getters["getUsers"]
            } 
        }) 
       
        const currentPage = ref(1) 
        const skipPage = ref(4)
        const range = ref(3)
        const startFrom = ref(0)
        const endTo = ref(3)
        const totalPages = ref(Math.ceil((store.state.users.length ) / 3 ) )

        onMounted(() => {
            store.dispatch("getUsers"); 
        })  
      
        function removeItem(item){ 
            store.dispatch("RemoveUserAction",item)  
            this.totalPages = Math.ceil((store.state.users.length ) / 3 )
        }

        function editItem(item){ 
            itemForEdit.value = item
        }

        function onModalToggle(){
            activeModal.value = true 
        }

      
        return { users , currentPage , search ,  startFrom , endTo , totalPages  , skipPage , range  
            ,onModalToggle
            ,activeModal
            ,editItem
            ,itemForEdit
            ,removeItem
        };
    } , 
    
    methods: {
        onPageChange(page) { 
            if(page == 1){
                this.startFrom = 0
                this.endTo = 3
            }else{
                this.startFrom = (( page * this.range ) ) - this.range
                this.endTo = ( page * this.range ) 
            } 
            this.currentPage = page
            this.skipPage = page * this.skipPage ;
        },  
        onAsideChanged(status){
            let element = document.getElementById("global-main");
            if(status == "close"){
                element.classList.add("responsive_main");
            }else{
                element.classList.remove("responsive_main");
            }
        } ,   
        changeAge(val) {
            if(val){ 
                this.startFrom = 0
                this.endTo = 3 
                this.totalPages = Math.ceil((this.users.length-1) / 3 )  
            }else{
                this.totalPages = Math.ceil((this.users.length-1) / 3 )  
            } 
        },

        
    } ,
}
</script>
