<template>
    <div class="d-flex h-100"> 
        <AsideGlobal @asideChanged="onAsideChanged" /> 
        <main class="global-main" id="global-main"> 
            <BreadcrumbData /> 
            <section class="main-section">
                <div class="row g-3 align-items-center mb-5"> 
                    عرض مستخدم
                </div> 
            </section> 
        </main> 
    </div>
</template>
 
<script>  
// @ is an alias to /src 
import AsideGlobal from '@/components/AsideGlobal.vue'
import BreadcrumbData from '@/components/BreadcrumbData.vue'
 
export default {
    name: 'HomeView',
    components: {
        AsideGlobal , 
        BreadcrumbData, 
    },
 
    
    methods: {
    } ,
}
</script>
